doctype html
html
	head
		title= `${title} | ${h.siteName}`
		link(rel="stylesheet", href="/dist/style.css")
		link(rel="shortcut icon", href="/images/icons/favicon.ico")
		meta(name="viewport" content="width=device-width, initial-scale=1")
	body
		main
			block header
				header.mini-header
					.mini-header__wrapper
						if !user
							span.nav__item
								a(href="/login" alt="Login") Sign In
						if user
							span.nav__item
								a(href="/account" alt="My account") My Account
							span.nav__item
								a(href="/logout" alt="Logout") Logout

				header.top
					nav
						.nav__wrapper
							each item in h.menu
								.nav__item
									a(href=item.slug alt=item.title) #{item.title}
			block messages
				if locals.flashes
					.inner
						.flash-messages
							- const categories = Object.keys(locals.flashes)
								each category in categories
									each message in flashes[category]
										.flash(class=`flash--${category}`)
											p.flash__text!= message
											button.flash__remove(onClick="this.parentElement.remove()") &times;
			.content
				block content
					p This is the default!

			block scripts
				//- script(src=`https://maps.googleapis.com/maps/api/js?key=${process.env.MAP_KEY}&libraries=places`)
				script(src="/dist/App.bundle.js")
