mixin createTeamForm()
	form.form(method="POST")
		//- pre= JSON.stringify(body)
		label(for="name") Team Name
			input(type="text" name="name" value=body.name)
		label(for="thumbnail") Team Banner Photo
			input(type="file" name="thumbnail")
		label(for="console") Console
			select(name="console" value=body.console)
				each console in consoleTypes
					option(value=console) #{console}
		label(for="description") Description
			textarea(name="description", cols="30", rows="10") #{body.description}
		input(type="submit" value="Submit")