mixin createTeamForm()
	form.form(action=`/teams/create` method="POST" enctype="multipart/form-data")
		//- pre= JSON.stringify(body)
		label(for="name") Team Name
			input(type="text" name="name" value=body.name)
		label(for="photo") Team Banner Photo
			input(type="file" name="photo" id="photo" accept="image/gif, image/png, image/jpeg")
		label(for="console") Console
			select(name="console" value=body.console)
				each console in consoleTypes
					option(value=console) #{console}
		label(for="playStyle" name="playStyle") Play Style
			select(name="playStyle" value=body.playStyle)
				each style in playStyles
					option(value=style) #{style}
		label(for="description") Description
			textarea(name="description", cols="30", rows="10") #{body.description}
		input(type="submit" value="Submit")